@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
    margin: 0;
    font-family: "Quicksand";
    color: rgba(113, 21, 156, 0.486);
  }

  
  .home {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
  }
  .home h1 {
    color: #c11ccd98;
    padding: 20px;
    display: block;
    align-items: center;
  }
  
  .App {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
  }
  .input[type="text"]{
   padding: 10px;
   
  }
  .button{
    max-width: 100px;
    margin: 40px auto;
    padding: 20px;
  }
  .listedHymn {
    padding: 10px 20px;
    margin: 20px 10px;
    border-bottom: 1px solid #fafafa;
  }
  .listedHymn:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .listedHymn h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }